<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WATER PUMP</title>
    <h1>pump it up: data mining the water table</h1>
    <h3>Takes csv file as input</h3>
    <h4>Please make sure that name of csv file is test.csv</h4>
    <div class="">
        
        <form class="" action="" method="post" enctype="multipart/form-data">
            <input type="file" name="csvfile" value="">
            <input type="submit" name="" value="Submit">

        </form>
    </div>
</head>
<body>
{{prediction}}
</body>
</html>